<a href="https://colab.research.google.com/github/ritikverma7373-hue/Introduction-in-python-IIT-Madras-lecture-/blob/python-language/Lecture_16.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# More on Variables, Operator and Expressions

The first concept is keywords and naming rules

We have already seen couple of operator like and,or,not,all these terms are considered as keywords, few other keywords which we may not have seen yet in python, like if,else,for,while and so on.we cannot use these keywords as variables names

In [3]:
and=5
print(and)
for=6
print(for)
if=7
print(if)

SyntaxError: invalid syntax (ipython-input-1503335726.py, line 1)

There are another set of rules,
what can be used as a variable name.The first rule says, we can use only alphanumeric character(A TO Z and a to zand 0-9)and underscore(example like:a1_,h9_h_ and many more) in variable name.
The last variable naming rule is variables are case sensitive.

In [6]:
a_1=7
print(a_1)
AZ=90
print(AZ)
aZS_1=0
print(aZS_1)

7
90
0

In [7]:
roll=5
ROLL=50
Roll=15
print(roll,ROLL,Roll)
# computer treates all three variables as a unique variable name in python are case sensitive, even a small change of upper case
# and lower case in roll,ROLL,Roll makes this variable a new and seprate variable.

5 50 15

# Multiple assignment


The sequence of variables and the sequence of literals on thr right side of equal to sign is very important. In case if we make it 2 comma 1; it will change the value of x and y.

In [9]:
x,y=1,2
print(x,y)
x=y=z=10
print(x,y,z)

1 2
10 10 10

This kind of statement simply swap the values of x and ywith each

In [10]:
x,y=1,2
print(x,y)
x,y=y,x
print(x,y)

1 2
2 1

# Deleting a variable

In [11]:
x=10
print(x)
del x
print(x)

10

NameError: name 'x' is not defined

# Shorthand Operators

shorthand operators are kind of airthmatic operators but htet have unique feature

In [ ]:
count=0
count=count+1
count=count+1
count=count+1
print(count)

But writing this name of the variable count again and again, is bit tedious and unnecessary,this is why Python has to this particular problem and the solution is called shorthand writting.

In [12]:
count=0
count+=1
count+=1
count+=1
print(count)

3

shorthand operator use it only with addition operator or is it possible to use with other airthmatic operator as well?
The answer is, yes it is possible to use such a shorhand operator with all airthmatic operators.

In [14]:
count=10
count-=1
count=count-1
print(count)
count=10
count*=2
count=count*2
print(count)

8
40

# In Operator
  where we some type of keyword and particular, is checked against all the possible documents if there is matched,then we get the document in the search result,If is it there then TRUE and If is not there then FALSE in a boolean terms.

In [15]:
print('ritik' in 'My name is ritik')

True

# chaining operators
Multiple relational opertaor in a single line is called is chainning operators

In [17]:
x=5
print(1<x<10)
print(x<10<x*10<100)
print(10>x<=9)
print(5==x>9)

True
True
True
False